@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Raleway:wght@400;500&display=swap');

$font-family: 'Merriweather',
serif;
$font-family: 'Montserrat',
sans-serif;
$font-family: 'Raleway',
sans-serif;
$font-family: 'FontAwesome',
sans-serif;